body {
    padding: 5% 5%;
    font-family: 'Noto Sans JP', sans-serif;
    
}

.container {
    width: auto;
    height: 100%;
    position: relative;
    padding: 10%;
    margin: 5%;
}

.select-container {
    background-color: #0066FF;
    color: #fff;
    background: linear-gradient(180deg, #0066FF 50%, #fff 50%);
    width: 100%;
    height: 100%;            
    position: absolute;
    top: 0;
    left: 0;    
    padding: 5%;
    -webkit-box-shadow: 0px -1px 16px 1px #000000; 
    box-shadow: 0px -1px 16px 1px #000000;
}

 h2, h3 {
    font-weight: bold;
    text-align: center;
    
}

span {
    text-align: start;
    padding-bottom: 5px;
    position: relative;
    bottom: 18px;
}

.price-card-container {
    text-align: center;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.price-card div > h1, span {
    display: inline-block;
}

#price-body {
    width: 100%;
    height: 25px;
}

#price-feature {
    height: auto;
    margin: 5%;
}

ul {
    list-style-type: square;    
    text-align: left;
    margin: 15%;
    padding: 15% 10%;
    width: 60%;    
}

ul > li {
    line-height: 2vw;
    letter-spacing: 0.5px;
    font-size: 1vw;
    font-weight: 3rem;
}

.btn {
    position: absolute;    
    bottom: 5%;
    right: 15%;
    width: 70%;
    border-radius: 2rem;
} 

.price-card {
    background-color: #fff;
    width: auto;
    height: 85%;   
    margin: 1rem; 
    padding: 5%;
    border-radius: 5px;
    opacity: 0.9;
    display: grid;
    border-radius: 1rem;
}


#pro {
    margin-top: 0;
    height: 600px;
    opacity: 1;    
}

@media only screen and (min-width: 769px) {
    .price-card:hover {
        opacity: 1;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {

    body {
        width: 100%;
        max-width: 1000px;
        height: auto;
        text-align: center;
        
    }

    .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: auto;
        position: relative;
        right: 5%;
        padding: 10%;
        margin: 5%;
    }
    .select-container {
        display: block;
        background-color: #0066FF;
        background: linear-gradient(#0066FF 100%, #fff 0%);
        width: 100%;
        height: 100%; 
        max-width: 1000px;
        min-width: 400px;
        min-height: 1500px;     
        position: absolute;        
        top: 0;
        left: 0;   
        z-index: 0;        
        padding: 0 15% 15% 5%;
        -webkit-box-shadow: 0px -1px 16px 1px #000000; 
        box-shadow: 0px -1px 16px 1px #000000;
    }

    h2 {
        margin: 0 5% 30% 5%;
        padding: 5%;
    }

    .price-card-container {                
        display: inline-block;         
        width: 100%;
        text-align: center; 
        position: absolute;
        top: 40px; 
        left: 0;
        z-index: 10;   
    }


    .price-card {        
        background-color: #fff;
        width: auto;
        height: 70%; 
        margin: 1rem; 
        padding: 5%;
        border-radius: 5px;
        opacity: 0.9;
        display: grid;
        border-radius: 1rem;
    }

    ul {
        padding-left: 10% 5% 5% 15%;
        margin: 0;
    }

    ul > li {
        font-size: 1rem;
        line-height: 2rem;
        letter-spacing: 1px;
        padding-bottom: 1%;
    }

    .price-card > div {        
        height: auto;
    }

}